@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-feature-settings: "salt" on, "ss01" on, "ss02" on;
}

::selection {
  background: black;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #111;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Image hover effect */
.image-hover {
  clip-path: inset(0);
}

.image-hover:hover {
  clip-path: inset(5px);
}
